<div class="flex">
  <img
    style="width: 200px"
    src="http://localhost/{{ details.image }}"
    alt="img"
  />
  <div class="details">
    <p>
      Name of Product: {{ details.Food }}
      <br />
      Measure: {{ details.Measure }}
      <br />
      Grams Quantity: {{ details.Grams }}
      <br />

      Calories: {{ details.Calories }}
      <br />

      Protien Percentage(%): {{ details.Protein }}
      <br />

      Fat Percentage(%): {{ details.Fat }}

      <br />

      Fiber Percentage(%): {{ details.Fiber }}
      <br />

      Carbs Percentage(%): {{ details.Carbs }}
      <br />
    </p>
  </div>
</div>

<p class="para">
  Nutrition products are products designed to provide nutrients and supplements that the body needs to function properly
  and maintain good health. These products can include dietary supplements, vitamins, minerals, and other types of food
  products that are marketed for their nutritional benefits.
  
  Nutrition products are often used to address specific dietary deficiencies or health concerns, such as low levels of
  vitamin D or iron, or to support certain health goals, such as weight loss or muscle building.
  </p>
