.example-card {
  width: 500px;
  height: 400px;
  margin: 20px;
  float: left;
  padding: 10px;
  border: 10px solid rgb(225, 150, 150);
  background-color: rgb(233, 244, 74);
}

.example-header-image {
  background-image: url("http://localhost/download (1).jpg");
  background-size: cover;
}
img {
  border: 2px solid black;
  height: 200px;
}
.buttonbox {
  border: 8px solid gray;
  background-color: gray;
  text-decoration: none;
  color: black;
}
