.ram{
background-image: url(http://localhost/home1.jpg);
height: 100px;
background-position: center top;
background-size: cover;
}
.ram h1{
    font-weight: 1000;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #1b1e35;
    font-size: 64px;
    line-height: 1.22;
    padding-top: 7rem;
    padding-left: 40px;
}
.ram p{
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    line-height: 1.73;
    letter-spacing: normal;
    color:#1b1e35 ;
    padding-left: 50px;
}